.question-title
  font-size: 20px
  margin: 5px 0


/* Miscellaneous */

.center-text
  text-align: center

.no-side-margin
  margin: auto 0

.navbar-right
  margin-right: 0

.navbar-btn
  margin-left: 10px

.navbar-form
  margin-right: 0
  margin-left: 0


